$border-radius-steps: 50;

@for $i from 1 through $border-radius-steps {
  .mb-br-#{$i} {
    $border-radius-value: $i * 1%; // Se multiplica por 1% para obtener un valor en porcentaje
    border-radius: $border-radius-value;
  }
}
$border-radius-steps: 50;

@for $i from 1 through $border-radius-steps {
  .mb-brpx-#{$i} {
    border-radius: #{$i}px;
  }
}