//COLORES SUAVES
$mb-suave1:rgb(192, 88, 88);
$mb-suave2: rgb(185, 232, 135);
$mb-suave3: rgb(253, 229, 136);
$mb-suave4: rgb(227, 134, 217);
$mb-suave5: rgb(109, 223, 233);
//COLORES FUERTES
$mb-fuerte1:rgb(255, 0, 0);
$mb-fuerte2: rgb(0, 255, 0);
$mb-fuerte3: rgb(255, 255, 0);
$mb-fuerte4: rgb(255, 0, 255);
$mb-fuerte5: rgb(0, 255, 255);
$mb-fuerte6:white;
$mb-fuerte7:black;
//COLORES NEUT
$mb-neutro1:rgb(255, 255, 255);
$mb-neutro2: rgb(0, 0, 0);
$mb-neutro3: rgb(128, 128, 128);
$mb-neutro4: rgb(192, 192, 192);
$mb-neutro5: rgb(128, 0, 0);
$mb-neutro6: rgb(128, 128, 0);
$mb-neutro7: rgb(0, 128, 0);
$mb-neutro8: rgb(128, 0, 128);
$mb-neutro9: rgb(0, 128, 128);
$mb-neutro10: rgb(0, 0, 128);

.mb-bg-celeste{
    background-color: $mb-fuerte5;
}

//SUAVES
//COLORES DE LETRA 
.mb-letraf-rojo{
    color: $mb-fuerte1;
}
.mb-letraf-verde{
    color: $mb-fuerte2;
}
.mb-letraf-amarillo{
    color: $mb-fuerte3;
}
.mb-letraf-rosa{
    color: $mb-fuerte4;
}
.mb-letraf-celeste{
    color: $mb-fuerte5;
}
.mb-letraf-blanco{
    color: $mb-fuerte6;
}
.mb-letraf-negro{
    color: $mb-fuerte7;
}

.mb-azul-n{
    color: $mb-neutro10;
}

.mb-bgrojo-s{
    background-color: $mb-suave1;
}
.mb-bgverde-s{
    background-color: $mb-suave2;
}
.mb-bgamarillo-s{
    background-color: $mb-suave3;
}
.mb-bgrosado-s{
    background-color: $mb-suave4;
}
.mb-bgmorado-s{
    background-color: $mb-suave5;
}
//FUERTES
.mb-bgrojo-f{
    background-color: $mb-fuerte1;
}
.mb-bgverde-f{
    background-color: $mb-fuerte2;
}
.mb-bgamarillo-f{
    background-color: $mb-fuerte3;
}
.mb-bgrosado-f{
    background-color: $mb-fuerte4;
}
.mb-bgceleste-f{
    background-color: $mb-fuerte5;
}
//NEUTROS
.mb-bgblanco-n{
    background-color: $mb-neutro1;
}
.mb-bgnegro-n{
    background-color: $mb-neutro2;
}
.mb-bggris-n{
    background-color: $mb-neutro3;
}
.mb-bggrisdos-n{
    background-color: $mb-neutro4;
}
.mb-bgrojom-n{
    background-color: $mb-neutro5;
}
.mb-bgverde-n{
    background-color: $mb-neutro6;
}
.mb-bgverde-n{
    background-color: $mb-neutro7;
}
.mb-bgmorado-n{
    background-color: $mb-neutro8;
}
.mb-bgmenta-n{
    background-color: $mb-neutro9;
}
.mb-bgazul-n{
    background-color: $mb-neutro10;
}


