// Definir variable para los valores de los margenes
$margin-values: 1px to 100px;

// Crear mixin para los margenes
@mixin margin($top: null, $right: null, $bottom: null, $left: null) {
  @if $top {
    margin-top: $top;
  }
  @if $right {
    margin-right: $right;
  }
  @if $bottom {
    margin-bottom: $bottom;
  }
  @if $left {
    margin-left: $left;
  }
}

// Crear clases para cada valor de los margenes
@for $i from 1 through 100 {
  $value: $i + px;
  .mb-m-#{$i} {
    @include margin($value);
  }
  .mb-mt-#{$i} {
    @include margin($value, null, null, null);
  }
  .mb-mr-#{$i} {
    @include margin(null, $value, null, null);
  }
  .mb-mb-#{$i} {
    @include margin(null, null, $value, null);
  }
  .mb-ml-#{$i} {
    @include margin(null, null, null, $value);
  }
}

// Definir variable para los valores de los paddings
$padding-values: 1px to 100px;

// Crear mixin para los paddings
@mixin padding($top: null, $right: null, $bottom: null, $left: null) {
  @if $top {
    padding-top: $top;
  }
  @if $right {
    padding-right: $right;
  }
  @if $bottom {
    padding-bottom: $bottom;
  }
  @if $left {
    padding-left: $left;
  }
}

// Crear clases para cada valor de los paddings
@for $i from 1 through 400 {
  $value: $i + px;
  .mb-p-#{$i} {
    @include padding($value);
  }
  .mb-pt-#{$i} {
    @include padding($value, null, null, null);
  }
  .mb-pr-#{$i} {
    @include padding(null, $value, null, null);
  }
  .mb-pb-#{$i} {
    @include padding(null, null, $value, null);
  }
  .mb-pl-#{$i} {
    @include padding(null, null, null, $value);
  }
}