.mb-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  }

  .mb-flexbox--row {
    flex-direction: row;
  }
  
  .mb-flexbox--row-reverse {
    flex-direction: row-reverse;
  }
  
  .mb-flexbox--column {
    flex-direction: column;
  }
  
  .mb-flexbox--column-reverse {
    flex-direction: column-reverse;
  }
  
  .mb-flexbox--justify-start {
    justify-content: flex-start;
  }
  
  .mb-flexbox--justify-end {
    justify-content: flex-end;
  }
  
  .mb-flexbox--justify-center {
    justify-content: center;
  }
  
  .mb-flexbox--justify-between {
    justify-content: space-between;
  }
  
  .mb-flexbox--justify-around {
    justify-content: space-around;
  }
  
  .mb-flexbox--align-start {
    align-items: flex-start;
  }
  
  .mb-flexbox--align-end {
    align-items: flex-end;
  }
  
  .mb-flexbox--align-center {
    align-items: center;
  }
  
  .mb-flexbox--align-baseline {
    align-items: baseline;
  }
  
  .mb-flexbox--align-stretch {
    align-items: stretch;
  }
  
  .mb-flexbox--wrap {
    flex-wrap: wrap;
  }
  
  .mb-flexbox--wrap-reverse {
    flex-wrap: wrap-reverse;
  }
  
  .mb-flexbox--grow {
    flex-grow: 1;
  }
  
  .mb-flexbox--shrink {
    flex-shrink: 1;
  }
  
  .mb-flexbox--basis {
    flex-basis: auto;
  }
  