//TAMAÑOS
$mb-tamaño-peque: 80px;
$mb-tamaño-mediano:200px;
$mb-tamaño-normal: 300px;
$mb-tamaño-grande: 400px;

$mb-altura:45px;
//COLORES
$mb-color-blue: rgb(46, 46, 182)  ;
$mb-color-red: rgb(226, 62, 62);
$mb-color-naranja: #eb8c0f;
$mb-color-rosa: #81e14e;
//GAP
$mb-gap: gap 50px;
//MARGIN
$mb-margin:10px;
//BORDER RADIUS
$mb-border:15px;