//TAMAÑOS
$mbros-tamaño-peque: 80px;
$mbros-tamaño-mediano:200px;
$mbros-tamaño-normal: 300px;
$mbros-tamaño-grande: 400px;

$mbros-altura:45px;
//COLORES
$mbros-color-blue: rgb(46, 46, 182)  ;
$mbros-color-red: rgb(226, 62, 62);
$mbros-color-naranja: #eb8c0f;
$mbros-color-rosa: #81e14e;
//GAP
$mbros-gap: gap 50px;
//MARGIN
$mbros-margin:10px;
//BORDER RADIUS
$mbros-border:15px;