$mbros-border-radius1:5px;
$mbros-border-radius2: 10px;
$mbros-border-radius3: 20px;
$mbros-border-radius4: 40px;
$mbros-border-radius5: 60px;

$mbros-border-radius-em:13em/3em;
$mbros-border-left-radius: 40%;
$mbros-border-radius-lado: 80px 20px;
$mbros-border-radius-izquierda: 60px 20px 5px;

$mbros-border-radius-extremos: 60px/20px;
$mbros-border-radius-mitad: 50%;

.mbros-border-radius1{
    border-radius: $mbros-border-radius1;
}
.mbros-border-radius2{
    border-radius: $mbros-border-radius2;
}
.mbros-border-radius3{
    border-radius: $mbros-border-radius3;
}
.mbros-border-radius4{
    border-radius: $mbros-border-radius4;
}
.mbros-border-radius5{
    border-radius: $mbros-border-radius5;
}

.mbros-border-radius-em{
    border-radius: $mbros-border-radius-em;
}
.mbros-border-left-radius{
    border-radius: $mbros-border-left-radius;
}
.mbros-border-radius-lado{
    border-radius: $mbros-border-radius-lado;
}
.mbros-border-radius-izquierda{
    border-radius: $mbros-border-radius-izquierda;
}

.mbros-border-radius-extremos{
    border-radius: $mbros-border-radius-extremos;
}
.mbros-border-radius-mitad{
    border-radius: $mbros-border-radius-mitad;
}


        

